/*----Navigation----*/
.nav{
	display: flex; /* flexible */
	justify-content: center;
	list-style-type: none;
	width: 100%;
}

.nav a{
	font-size: 90%;
	text-decoration: none;
	color: #9896a4;
	font-family: "Montserrat";
	text-align: centre;
	padding-left: 70px;
	padding-right: 70px;
}

hr{
	width: 90%;
	border: 0;
	height: 1.5px;
	background-color: #f7c9cb
}

/*----Logo----*/
.logo img{
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*----Footer----*/
footer{
	text-align:center;
	color: #9896a4;
	font-family: "Times New Romans";
	
}